[project]
	description = Rails Seminar
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kimshin (jcynico)
[access "refs/for/refs/*"]
	read = group user/kimshin (jcynico)
	push = group user/kimshin (jcynico)
	label-Code-Review = -2..+2 group user/kimshin (jcynico)
	label-Verified = -1..+1 group user/kimshin (jcynico)
	rebase = group user/kimshin (jcynico)
	removeReviewer = group user/kimshin (jcynico)
	submit = group user/kimshin (jcynico)
[access "refs/heads/*"]
	read = group user/kimshin (jcynico)
	create = group user/kimshin (jcynico)
	push = +force group user/kimshin (jcynico)
	pushMerge = group user/kimshin (jcynico)
[access "refs/tags/*"]
	push = +force group user/kimshin (jcynico)
	pushTag = group user/kimshin (jcynico)
	pushSignedTag = group user/kimshin (jcynico)
